.form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;

  .taskTitle {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
    }

    input {
      outline: none;
      padding: 0.4rem 0.8rem;
      border-radius: 8px;
      border: 1.5px solid rgb(207, 204, 204);
    }
  }

  .priorities {
    display: flex;
    align-items: center;
    gap: 0 0.4rem;

    p {
      font-size: 14px;
      white-space: nowrap;
    }

    .priority {
      all: unset;
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      white-space: nowrap;
      padding: 0.2rem 0.4rem 0.2rem 0.2rem;
      border: 1px solid rgb(207, 204, 204);
      border-radius: 8px;
      &:hover {
        cursor: pointer;
      }
    }
    .selectedPriority {
      background-color: rgb(239, 235, 235);
      transition-duration: 200ms;
    }
  }

  .assignTo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;

    p {
      white-space: nowrap;
    }

    select {
      width: 100%;
      outline: none;
      border: 1px solid rgb(207, 204, 204);
      border-radius: 4px;
      color: gray;
      padding: 0.4rem 1rem;
    }
  }

  .addNewTaskContainer {
    .allInputs {
      margin-top: 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem 0;

      .singleInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 0.5rem;
        border: 1.5px solid rgb(220, 216, 216);
        border-radius: 10px;
        padding: 0.4rem 0.5rem;

        .mainInp {
          display: flex;
          align-items: center;
          gap: 0 0.4rem;
          width: 100%;

          .taskContent {
            font-size: 14px;
          }
        }
      }
    }

    .addNewTask {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 0 1rem;
      border: 1.5px solid rgb(207, 204, 204);
      padding: 0.4rem;
      color: gray;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;

    .dueDateBtn {
      margin-top: 0.8rem;
      border: 1px solid gray;
      padding: 0.4rem 2.5rem;
      border-radius: 8px;
      color: gray;
      font-weight: 600;
      cursor: pointer;
      background-color: white;
    }

    .cancelBtn {
      margin-top: 0.8rem;
      border: 1px solid var(--btn-red);
      padding: 0.4rem 3rem;
      border-radius: 8px;
      color: var(--btn-red);
      font-weight: 600;
      cursor: pointer;
      background-color: white;
    }

    .saveBtn {
      margin-top: 0.8rem;
      margin-left: 1rem;
      background-color: var(--primary-blue);
      padding: 0.4rem 3rem;
      border-radius: 8px;
      border: none;
      color: white;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        filter: brightness(1.09);
      }
    }
  }
}

.asterik {
  color: red;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}
/* .ass{
  border: 1px solid black;
  border-radius: 5px;
} */




.customDropdown {
  position: relative;
  width: 520px;
  height: 30px;
}

.dropdownHeader {
  padding: 5px;
  padding-left: 15px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdownList {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdownList.show {
  display: block;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.dropdownItem:hover {
  background-color: #f9f9f9;
}

.assigneeEmail {
  font-size: 14px;
}

.assignButton {
  background-color: white;
  color: black;
  border: 1px solid #E2E2E2;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 28px;
  width: 150px;
}

.assignButton:hover {
  background-color: rgb(230, 225, 225);
}

